<a href="https://colab.research.google.com/github/Mishranitin96/Board-Infinity-Homework/blob/master/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Ask the user for his age, if age greater than 18 then print adult, if less then print teenager, remember to set the datatype to an integer like so, int(input())

In [7]:
print ("Please enter your age\n")
age = int(input())
if age>=18 :
  print ("You are an Adult\n")
else : 
  print ("You are an Teenager\n")

Please enter your age

17
You are an Teenager

Make a personal loan approving system, Ask the user for his monthly income. Then ask him if he has an ongoing loan (yes|no), if the user’s income is more than 100000, and his answer to an ongoing loan is no then approve his loan, else reject his loan.

In [16]:
print ("What is your monthly Income\n")
Income = int(input())
if Income >=100000 :
  print ("Do you have any Ongoing_Loan ?\n")
  Ongoing_Loan = str(input())
  if Ongoing_Loan == "Yes" : 
    print ("Sorry, You are not Eligible for Loan\n")
  else :
    print ("Congrats ! You are Eligible for Loan\n")
else :
  print ("Sorry, You are not Eligible for Loan\n")

What is your monthly Income

500000
Do you have any Ongoing_Loan ?

no
Congrats ! You are Eligible for Loan

Ask the user if Female (yes|no), if ‘yes’ then print ‘You are a Girl’ else print, ‘You are a boy’

In [19]:
print ("Are you a Female?\n")
gender = str(input())
if gender == "yes" :
  print ("You are a Girl\n")
else :
  print ("You are a Boy\n")

Are you a Female?

yes
You are a Girl

Make a list of random numbers and print them all using a for loop

In [20]:
numbers = [0,1,3,5,4,6,7,8,9,55,64,89,101,26,45]
for x in numbers :
  print (x)

0
1
3
5
4
6
7
8
9
55
64
89
101
26
45

Make a list of random number and print only even numbers

In [21]:
numbers = [0,1,2,3,4,5,6,7,8,9,10,11,22,33,44,55,66,78,19,15,46,48,50,25,]
for x in numbers :
  if x%2 == 0 :
    print (x)

0
2
4
6
8
10
22
44
66
78
46
48
50

Make a dictionary called (myself) with the following keys (name, age, gender and favourite food) and using a for loop print out only the keys

In [22]:
myself = {"name" : "nitin", "age" : "24", "gender" : "male", "favourite_food" : "indian_cultural_food"}
for x in myself :
  print (x)

name
age
gender
favourite_food

From the dictionary ‘myself’, print only the values

In [23]:
for x in myself :
  print (myself[x])

nitin
24
male
indian_cultural_food

From the dictionary ‘myself’, print both the keys and their values

In [26]:
for x in myself :
  print (x, "-", myself[x])

name - nitin
age - 24
gender - male
favourite_food - indian_cultural_food

Create a method that takes the persons name as argument and returns it

In [28]:
def name(Name):
  print (Name)
Name = input('Enter you name-')
name(Name)

Enter you name-Nitin
Nitin

Create a function that takes a dictionary as an input and prints all the keys of the dictionary

In [0]:
myself = {"name" : "nitin", "age" : "24", "gender" : "male", "favourite_food" : "indian_cultural_food"}
def print_keys (x):
  return x.keys()

In [32]:
print_keys(myself)

dict_keys(['name', 'age', 'gender', 'favourite_food'])

Create a function that takes a list of 10 random numbers and prints out only odd numbers

In [0]:
numbers = [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]
def odd_numbers (a):
  for x in numbers :
    if x%2 !=0 :
      print (x)

In [34]:
odd_numbers(numbers)

1
3
5
7
9
11
13
15
17
19

Define 4 variables of type, string, float, integer and boolean print the data type for each variables

In [0]:
name = ("Nitin") #string variable
height = 175.44 #float variable
age = 24 #integer variable
male = True #boolean variable

In [39]:
print (type(name), type(height), type(age), type(male))

<class 'str'> <class 'float'> <class 'int'> <class 'bool'>

1. integer to float

In [40]:
age = 24
float (age)

24.0

2. string to integer

In [42]:
age = "24"
int (age)

24

3. integer to string

In [44]:
age = 24
str (age)

'24'

4. bool to string

In [46]:
male = True
str (male)

'True'

Import the following class from SKlearn API

In [0]:
from sklearn import datasets

In [0]:
from sklearn.ensemble import RandomForestClassifier

In [0]:
from sklearn.naive_bayes import GaussianNB

In [0]:
from sklearn.tree import DecisionTreeClassifier

In [0]:
from sklearn.linear_model import LinearRegression

In [0]:
from sklearn.cluster import KMeans

In [0]:
from sklearn.model_selection import train_test_split

In [0]:
from sklearn.metrics import classification_report

In [0]:
from sklearn.metrics import accuracy_score